# Get your tokens from the drchrono.com website under Account->API

SOCIAL_AUTH_CLIENT_ID=nUfCcLnvykiODrY1jTR2MUwHBLyfUic0ebXJ1ZJo
SOCIAL_AUTH_SECRET=aVnaWHBFIX4kKhSwFaZZTzyrUYTG2gK3p4tVESarOxb86SwjoI2C4sOC7zBWrygwKZGcQWPal93yj80ECDA6O3HcWTmQ0DuBwc79plQrB4nkYL3YvjIr1O2gbJhzDl14
